
html, body {
    height: 100%;
  }
  
  h1{
  padding-top: 8rem;
  text-align:center;
  }
  
  .row{
  	margin-top: 10rem;
  }
  
  .footer{
  	background-color: #808080;
  	height: 10vh;
  	margin-top: 12rem;
  }
  
  .footer p{
  	color:white;
  	text-align:center;
  	font-size: 1.5rem;
  	padding-top:20px;  	
  }

/* html, body {
    height: 100%;
  }
  body {
    background: #fff none repeat scroll 0 0;
    color: #444;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: left;
    overflow-x: hidden;
    line-height: 22px;
  }
  h1 {	
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    margin-right: 13em;
    padding-top: 5em;
  }
  
  Employee and Manager styling
  
  .manager h1{
      margin-left: 11em;
  }
  .manager h4{
      margin-left: 14em;
      padding-bottom: 2em;
  }
  .manager h3{
      margin-left: 15em;
      padding: 8px;
  }
  label {
      font-family: Arial, Helvetica, sans-serif;
      padding: 5px;
  }
  .form-inline button{
      margin-left: 4px;
  }
  
  Login Form Styling
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3697ff;
    color: white;
  } */
  
  